<header></header>

<div class="container" id="layout-main-container">
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h1>Stations</h1>
            <div class="row">
                <div id="searchbutton">
                    <span class="style">
                        <span id="addon">
                            <button id="buttonsearch" type="submit">
                                <span id="glyph-s" class="glyphicon glyphicon-search"></span>
                            </button>
                            <input id="search_par" name="filter" type="text" placeholder="Search" ng-model="filterRezultatov" class="form-control vrsta">
                        </span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div ng-show="filterRezultatov" id="rezultati-iskanja">
                    <div ng-repeat="stationP in vm.stations">
                        <div ng-repeat="stationP2 in stationP.stations | filter: filterRezultatov">
                            <a href="/station/{{ stationP2.userID }}">
                                <div id="detail">
                                    <i>{{ stationP2.stationName }}</i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 ng-show="!filterRezultatov" id="stationsGenres-h">Genres</h2>
            <div ng-show="!filterRezultatov">
                <div class="zanrMasterDetail">
                    <div ng-repeat="station in vm.stations"  class=" btn-block ">
                        <button  id="{{ station.genreName }}" ng-click="vm.buttonToggle(station.genreName)" class="btn btn-default btn-block btn-md gumbiZanrov">{{ station.genreName }}</button>
                            <div ng-show=" vm.showDetails == station.genreName" class="details">
                                <span ng-repeat="playlist in station.stations | filter: filterRezultatov">
                                    <a href="/station/{{ playlist.userID }}">
                                        <div id="detail">
                                            <i>{{ playlist.stationName }}</i>
                                        </div>
                                    </a>
                                </span>
                                <div ng-show="!vm.noMore" id="detail" ng-click="vm.updateGenres(station.genreName)">
                                    <strong><i>...</i></strong>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div style="display: block;" class="details"></div>
            <h2 ng-show="!filterRezultatov" id="stationsTags-h">Tags</h2>
            <div ng-show="!filterRezultatov">
                <div class="zanrMasterDetail">
                    <div ng-repeat="station in vm.stationsTags"  class=" btn-block ">
                        <button  id="{{ station.tagName }}" ng-click="vm.buttonToggle(station.tagName)" class="btn btn-default btn-block btn-md gumbiZanrov">{{ station.tagName }}</button>
                            <div ng-show=" vm.showDetails == station.tagName" class="details">
                                <span ng-repeat="playlist in station.stations | filter: filterRezultatov">
                                    <a href="/station/{{ playlist.userID }}">
                                        <div id="detail">
                                            <i>{{ playlist.stationName }}</i>
                                        </div>
                                    </a>
                                </span>
                                <div ng-show="!vm.noMore" id="detail" ng-click="vm.updateTags(station.tagName)">
                                    <strong><i>...</i></strong>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>