extends layout

+ include _includes/jadeFunctions.jade

block content
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      form(action='/db/users' method="post" role="form")
        .form-group
          label(for="dbUsersInput") DB-Users
          textarea.form-control(name="data" id="dbUsersInput" rows="20")
        button.btn.btn-primary(type="submit") ADD 
      form(action='/db/genres' method="post", role="form")
        .form-group
          label(for="dbGenresInput") DB-Genres
          textarea.form-control(name="data" id="dbGenresInput" rows="20")
        button.btn.btn-primary(type="submit") ADD  
      form(action='/db/tags' method="post", role="form")    
        .form-group
          label(for="dbWhateverInput") DB-Tags
          textarea.form-control(name="data"  id="dbTagsInput" rows="20")
        button.btn.btn-primary(type="submit") ADD
      form
        a.btn.btn-danger(href='/db/delete') DELETE 
    .col-xs-0.col-sm-2
    

          
        