doctype html
html(ng-app='radiotube')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    
  body
    nav.navbar.navbar-default(id="layout-navbar")
      .container-fluid
        .navbar-brand
          img.site-logo(id="site-logo" src="/images/logo.png" alt="LOGO")
        .navbar-header
          h1#radiotube
          span
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#header-navbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
        #header-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/whodoesntusejs/profile' id="profileButtonMain") PROFILE
            li
              a(href='/whodoesntusejs/stations' id="stationsButtonMain") STATIONS
            li
              a(href='/whodoesntusejs/playlist' id="playlistsButtonMain") PLAYLISTS
          ul.nav.navbar-nav.navbar-right
            li
              span#profileNameNav
              img.img-rounded(id="profilePicNav" src='/images/blank_man.png' alt="Picture")
            li
              a(href='/whodoesntusejs/')
                span.glyphicon.glyphicon-log-out
                |  logout
                
    .container(id="layout-main-container")
      block content
      
     footer(id="layout-footer")
       .row
         .col-xs-12
           small &copy; Dream Meme Team 2k17 

  script(src='/javascript/jquery-3.2.1.min.js') 
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascript/stations.js')
  script(src='/javascript/playlist.js')
  script(src='/javascript/profile.js')
  script(src='/javascript/session.js')
  script(src='/angular/angular.min.js')
  script(src='/angular/radiotube.js')