extends layout

include _includes/jadeFunctions.jade

block content
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-success(hidden id="playlist-added-success" role="alert") 
        strong Video added to playlist!
    .col-xs-0.col-sm-2
    
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="playlist-added-fail" role="alert") 
        strong Entered value is not a YouTube link!
    .col-xs-0.col-sm-2
  
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-success(hidden id="playlist-rename-success" role="alert") 
        strong Playlist was renamed!
    .col-xs-0.col-sm-2
  
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="playlist-rename-fail" role="alert") 
        strong Entered name was not valid!
    .col-xs-0.col-sm-2

  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      h1.data-playlistName(id="playlist-name") #{playlistName}
      div.btn-group.btn-xs.playlistButtonToolbar
        button.btn.btn-danger(id="playlistButtonToolbar-add" data-toggle="modal" data-target="#add-modal") ADD
        button.btn.btn-danger(id="playlistButtonToolbar-rename" data-toggle="modal" data-target="#rename-modal") RENAME
        button.btn.btn-danger(id="playlistButtonToolbar-golive" data-toggle="modal" data-target="#golive-modal") GO-LIVE
    .col-xs-0.col-sm-2
        
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      .row.list-group(id="playlist-list-group")
        each video in videos
          +shortenName(video)
          .col-xs-12.list-group-item.playlist-video-entry(id="#{video.videoName}")
            div #{video.videoName}
              button.btn.btn-danger.removeVideoButton(data-toggle="modal" data-target="#remove-modal" data-videoName=video.videoName data-dbID="#{video._id}")
                span.glyphicon.glyphicon-trash
                    
    .col-xs-0.col-sm-2
    
  div.modal.fade(id="add-modal", role="dialog", tabindex="-1")
    div.modal-dialog(role="document")
      div.modal-content
            div.modal-header
              h5.modal-title ADD
            div.modal-body
              form(method='post' action='/playlist/' + user role="form")
                .form-group
                  p Type in your YouTube link here.
                    input.form-control(name="nomeaning" type="text", placeholder="YouTube Link" id="playlist-add-input")
                .form-group 
                    button.btn.btn-primary(type="submit" id="addVideo")  ADD
            div.modal-footer
              button.btn.btn-secondary(data-dismiss="modal") CLOSE
        
  div.modal.fade(id="rename-modal", role="dialog", tabindex="-1")
    div.modal-dialog(role = "document")
      div.modal-content
        div.modal-header
          h5.modal-title RENAME
        div.modal-body
          form(method='post' action='/playlistRename/' + user role="form")
            .form-group
              p Type in your desired playlist name.
              input.form-control(type="text" name="playlistName" placeholder="Desired playlist name" id="playlist-rename-input")
            .form-group
              button.btn.btn-primary(type="submit" id="renamePlaylist")  RENAME
        div.modal-footer
          button.btn.btn-secondary(data-dismiss="modal") CLOSE
          
  div.modal.fade(id="remove-modal" role="dialog" tabindex="-1" data-videoName="abc")
    div.modal-dialog(role = "document")
      div.modal-content
        div.modal-header
          h5.modal-title REMOVE
        div.modal-body
          form(id="videoDelete-form" method='get' action='/playlist/' + user  role="form")
            .form-group
              p 
            .form-group
              button.btn.btn-primary(type="submit" id="removeVideo") REMOVE
        div.modal-footer
          button.btn.btn-secondary(data-dismiss="modal") CANCEL
          
  div.modal.fade(id="golive-modal", role="dialog", tabindex="-1")
    div.modal-dialog(role = "document")
      div.modal-content
        div.modal-header
          h5.modal-title GOLIVE
        div.modal-body
          form(id="videoLive-form" method='post' action='/playlistLive/' + user  role="form")
            .form-group
              p Do you want to stream this playlist as a station? 
              p  
                strong Select which genre fits your playlist the most!
              select.custom-select(name="stationGenre" id="playlist-genre-select")
                option(selected) Rock
                option Pop
                option Country
                option Metal
                option Jazz
                option Prog
                option Other
            .form-group
              p  
                strong Select which tag fits your playlist the most!
              select.custom-select(name="stationTag" id="playlist-genre-select")
                option(selected) Fun
                option Oldies
                option Mixed
                option Random
                option Chill
            .form-group
              button.btn.btn-primary(type="submit") STREAM
        div.modal-footer
          button.btn.btn-secondary(data-dismiss="modal") CANCEL
          
          
        