extends layout

block content

    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-success(hidden id="success-profile" role="alert" style="text-align:center")
            strong Changes were saved!
       div.alert.alert-info(hidden id="warning-profile" role="alert" style="text-align:center")
            strong Nothing to change!
      h1 Profile
      .row(style="margin-top:50px")
      
        form(name="form")#myForm
          .row.profil
            label.col-sm-2.col-form-label.disabled(for="profileFullName" disabled) Full Name
            div.col-sm-8
                input.form-control( name="fullName" type="text" placeholder="#{fullName}" id="profile-name")
            div.col-sm-2
          .row.profil
            label.col-sm-2.col-form-label(for="profileFullName" disabled) Username
            div.col-sm-8
                input.form-control( name="userName" type="text" placeholder="#{userName}" id="profile-user")
            div.col-sm-2
          .row.profil
            label.col-sm-2.col-form-label(for="profileFullName" disabled) Password
            div.col-sm-8
                input.form-control(name="password" type="password" placeholder="" id="profile-pass")
            div.col-sm-2
          .row.profil
            div
            .center
              button.btn.btn-primary(id="profile-submit") Save

            

