doctype html
html(ng-app='radiotube')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
body
  .container
      .row.main
        .panel-heading
          .panel-title.text-center
            h1.title#radiotube
        .main-login.main-center
          form.form-horizontal(method='post' action='/whodoesntusejs/signin' id="needs-validation")
            .form-group
              label.cols-sm-2.control-label(for='username') Username
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-users.fa(aria-hidden='true')
                  input#username.form-control(type='text', name='userName', placeholder='Enter your Username')
            .form-group
              label.cols-sm-2.control-label(for='password') Password
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock.fa-lg(aria-hidden='true')
                  input#password.form-control(type='password', name='password', placeholder='Enter your Password')
            .form-group
                button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit' id="signin-submit") Sign In
            .login-register
              a(href="/whodoesntusejs/signup") Sign Up
              
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="login-submit-password-error" role="alert") 
        strong Please enter a valid password!
    .col-xs-0.col-sm-2
        
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      div.alert.alert-danger(hidden id="login-submit-username-error" role="alert") 
        strong Please enter a valid username!
    .col-xs-0.col-sm-2
  
  script(src='/javascript/jquery-3.2.1.min.js') 
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascript/login.js')
  script(src='/angular/angular.min.js')
  script(src='/angular/radiotube.js')