extends layout

block content
    .row
        .col-xs-0.col-sm-2
        
        .col-xs-12.col-sm-8
        
            h1 Stations
            .row
                div#searchbutton
                    span.styl
                        span#addon
                            button#buttonsearch(type="submit")
                                span.glyphicon.glyphicon-search#glyph-s
                            input#search_par.form-control(type="text" placeholder="Search").vrsta
                            
            .row                
                div#rezultati-iskanja(style="display:none")
                    each zanr in zanrList
                        each list in zanr.stations
                                    span.result-search(id=list.stationName)(style="display:none")
                                        a(href='/station/'+list.userID)
                                            div#detail-s
                                                i #{list.stationName}
                                                
            h2(id="stationsGenres-h") Genres
            div
                each zanr in zanrList
                    .zanrMasterDetail
                        button.btn.btn-default.btn-block.btn-md.gumbiZanrov(id=zanr.genreName)(onclick="buttonToggle(this.id)") #{zanr.genreName}
                        div.details(style="display:none;")
                            each list in zanr.stations
                                span
                                    a(href='/station/'+list.userID)
                                        div#detail
                                            i #{list.stationName}
            h2(id="stationsTags-h") Tags                            
            div
                each tag in tagsList
                    .zanrMasterDetail
                        button.btn.btn-default.btn-block.btn-md.gumbiZanrov(id=tag.tagName)(onclick="buttonToggle(this.id)") #{tag.tagName}
                        div.details(style="display:none;")
                            each list in tag.stations
                                span
                                    a(href='/station/'+list.userID)
                                        div#detail
                                            i #{list.stationName}                                
        
        .col-xs-0.col-sm-2
        
