extends layout

include _includes/jadeFunctions.jade

block content
  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      h1.data-stationName #{stationName}
      div.btn-group.btn-xs.playlistButtonToolbar
        button.btn.btn-danger(id="stationOffline-button" data-toggle="modal" data-target="#goOffline-modal") Go-offline
    .col-xs-0.col-sm-2
  
  .col-xs-12.col-sm-12
    img(src="/images/youtube.png" alt="YouTube" width="100%" height="100%")

  .row
    .col-xs-0.col-sm-2
    .col-xs-12.col-sm-8
      .row.list-group.station-playlist(id="station-list-group") 
        h3 #{stationName} playlist
        each video in videos
          +shortenName(video)
          .col-xs-12.list-group-item.station-playlist-entry(id="#{video.videoName}")
            div #{video.videoName}
          
    .col-xs-0.col-sm-2
    
  div.modal.fade(id="goOffline-modal", role="dialog", tabindex="-1")
    div.modal-dialog(role = "document")
      div.modal-content
        div.modal-header
          h5.modal-title GO-OFFLINE
        div.modal-body
          form(id="videoLive-form" method='post' action='/playlistOffline/' + user  role="form")
            .form-group
              button.btn.btn-primary(type="submit") GO-OFFLINE
        div.modal-footer
          button.btn.btn-secondary(data-dismiss="modal") CANCEL  