<div class="container">
    <div class="row main">
        <div class="panel-title text-center">
            <h1 class="title" id="radiotube"></h1>
        </div>
        <div class="main-login main-center">
            <form ng-submit="vm.sendData()" class="form-horizontal" autocomplete="off">
                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='username'>
                        Username
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users-fa" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signinData.userName" id="username" class="form-control" type='text' name='username' placeholder='Enter your Username'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='password'>
                        Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signinData.password" id="password" class="form-control" type='password' name='password' placeholder='Enter your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-button" type='submit' id="signin-submit">
                        Sign In
                    </button>
                </div>
                <div class="login-register">
                    <a href="/signup">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

        
