    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> GO-LIVE </h5>
      </div>
      <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <form id="videoLive-form" ng-submit="vm.sendData()" role="form">
          <div class="form-group">
            <p> Do you want to stream this playlist as a station?  </p>
            <p>
              <strong>
                 Select which genre fits your playlist the most!
              </strong>
            </p>
            <select ng-model="vm.data.genre" class="custom-select" name="stationGenre" id="playlist-genre-select">
              <option>Rock</option>
              <option>Pop</option>
              <option>Country</option>
              <option>Metal</option>
              <option>Jazz</option>
              <option>Prog</option>
              <option>Other</option>
            </select>
          <div class="form-group">
            <p>
              <strong>
                 Select which tag fits your playlist the most!
              </strong>
            </p>
            <select ng-model="vm.data.tag" class="custom-select" name="stationTag" id="playlist-genre-select">
              <option>Fun</option>
              <option>Oldies</option>
              <option>Mixed</option>
              <option>Random</option>
              <option>Chill</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit"> STREAM </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="vm.modalWindow.close()"> CANCEL </button>  
      </div>
    </div>
