    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> GO-OFFLINE </h5>
      </div>
      <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <form id="videoLive-form" ng-submit="vm.sendData()" role="form">
          <div class="form-group">
            <p> Do you want this playlist to go offline? </p>
            <p>
          <div class="form-group">
            <button class="btn btn-primary" type="submit"> SHUTDOWN </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="vm.modalWindow.close()"> CANCEL </button>  
      </div>
    </div>
