   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> RENAME </h5>
      </div>
      <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <form ng-submit="vm.sendData()" role="form">
          <div class="form-group">
            <p> Type in your desired playlist name. </p>
            <input ng-model="vm.data.playlistName" class="form-control" type="text" name="playlistName" placeholder="Desired playlist name" id="playlist-rename-input">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" id="renamePlaylist"> RENAME </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="vm.modalWindow.close()"> CLOSE </button>  
      </div>
    </div>
