    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> ADD </h5>
      </div>
      <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <form method='post' ng-submit="vm.sendData()" role="form">
          <div class="form-group">
            <p> Type in your YouTube link here. </p>
            <input ng-model="vm.data.videoLink" class="form-control" name="nomeaning" type="text" placeholder="YouTube Link" id="playlist-add-input">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" id="addVideo"> ADD </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" ng-click="vm.modalWindow.close()"> CLOSE </button>  
      </div>
    </div>