<div class="navbar navbar-default" id="layout-navbar">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img class="site-logo" id="site-logo" src="/images/logo.png" alt="LOGO"></img>
    </div>
    <div class="navbar-header">
      <h1 id="radiotube"></h1>
      <span>
        <div class="button navbar-toggle" type='button' data-toggle='collapse' data-target='#header-navbar'>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </span>
    </div>
    <div id="header-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href='/profile/' + user id="profileButtonMain">
            PROFILE
          </a>
        </li>
        <li>
          <a href='/stations' + user id="stationsButtonMain">
            STATIONS
          </a>
        </li>
        <li>
          <a href='/playlist/' + user id="playlistsButtonMain">
            PLAYLISTS
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span id="profileNameNav" ng-model="navvm.user">{{ navvm.user }}</span>
          <img class="img-rounded" id="profilePicNav" src='/images/blank_man.png' alt="Picture"></img>
        </li>
        <li>
          <a ng-click="navvm.signout()">
            <span class="glyphicon glyphicon-log-out"> 
              logout 
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>