<header content="vm.headerContent"></header>

<div class="container" id="layout-main-container">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">
        <div role="alert" ng-show="vm.profileError" class="alert alert-danger">{{ vm.profileError }}</div>
        <div role="alert" ng-show="vm.fullName != vm.fullNamePlace || vm.userName != vm.userNamePlace" class="alert alert-danger">Changes aren't saved!</div>
        <div role="alert" ng-show="vm.profileError" class="alert alert-success">{{ vm.profileSuccess }}</div>
        <h1>Profile</h1>
        <div style="margin-top:50px" class="row">
            <div>My name is {{ vm.fullName }}, and my username is {{ vm.userName }} ! </div>
            <form name="form" id="myForm" ng-submit="vm.submit()">
                <div class="row profil">
                    <label for="profileFullName" disabled class="col-sm-2 col-form-label disabled">Full Name</label>
                    <div class="col-sm-8">
                        <input name="fullName" type="text" placeholder="{{ vm.fullNamePlace }}" id="profile-name" class="form-control" ng-model="vm.fullName">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row profil">
                    <label for="profileFullName" disabled class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <input name="userName" type="text" placeholder="{{vm.userNamePlace}}" id="profile-user" class="form-control" ng-model="vm.userName">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row profil">
                    <div class="center">
                        <button type="submit" id="profile-submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>