<header></header>

<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8" ng-switch on="vm.isOnline">
    <div role="alert" ng-show="vm.playlistError" class="alert alert-danger">{{ vm.playlistError }}</div>
    <h1 ng-model="vm.playlistName" class="data-playlistName" id="playlist-name">
      {{ vm.playlistName }}
    </h1>
    <div class="btn-group btn-xs">
      <button ng-switch-default class="btn btn-danger" id="playlistButtonToolbar-add" ng-click="vm.showVideoAddModal()">
        ADD
      </button>
      <button ng-switch-default class="btn btn-danger" id="playlistButtonToolbar-rename" ng-click="vm.showRenameModal()">
        RENAME
      </button>
      <button ng-switch-when="true" class="btn btn-danger" id="playlistButtonToolbar-golive" ng-click="vm.showGoOfflineModal()">
        GO-OFFLINE
      </button>
      <button ng-switch-when="true" class="btn btn-danger" id="playlistButtonToolbar-golive" ng-click="vm.visitStation(vm.userId)">
        MY STATION
      </button>
      <button ng-switch-default class="btn btn-danger" id="playlistButtonToolbar-golive" ng-click="vm.showGoLiveModal()">
        GO-LIVE
      </button>
    </div>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <div class="row list-group" id="playlist-list-group" ng-repeat="video in vm.videos">
      <div class="col-xs-12 list-group-item playlist-video-entry" id="{{ video._id }}">
        <div ng-switch on="vm.isOnline"> 
          {{ video.videoName | shortenString }}
          <button class="btn btn-danger removeVideoButton" ng-switch-when="false" ng-click="vm.removeVideo(video._id)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-2">
  </div>
</div>
