<header></header>
    <div class="col-xs-0 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">
        <div role="alert" ng-show="vm.playlistError" class="alert alert-danger">{{ vm.playlistError }}</div>
        <h1 ng-model="vm.stationName">{{ vm.stationName }}</h1>
        <div ng-switch on="vm.toggleEnabled" class="btn-group btn-xs">
          <button ng-switch-when="false" class="btn btn-danger" id="playlistButtonToolbar-add" ng-click="vm.turnOnToggle()">
            SHUFFLE-ON
          </button>
          <button ng-switch-when="true" class="btn btn-danger" id="playlistButtonToolbar-rename" ng-click="vm.turnOffToggle()">
            SHUFFLE-OFF
          </button>
        </div>
    </div>
    <div class="col-xs-0 col-sm-2"></div>
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <div style="text-align:center;" class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-id="videoPlayer" player-vars="playerVars"></youtube-video>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h3 ng-model="vm.stationName">{{ vm.stationName }} - list</h3>
            <div class="row list-group station-playlist" id="station-list-group" ng-repeat="video in vm.videos">
                <div class="col-xs-12 list-group-item station-playlist-entry" id="{{video._id}}">
                    <div>
                        {{ video.videoName | shortenString }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2"></div>
    </div>