body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background-color: #ffe5cc !important; */
  background: repeating-linear-gradient(
      45deg,
      #ffe5cc ,
      #ffffff 5px
  );
  background-attachment: fixed;
}
 

@media only screen and (max-width: 320px) {
  #radiotube:before {
        position: relative;
        left: -5px;
        content: 'Radio';
        font-size: 30px;
        color: red;
        text-decoration:underline;
    }
    #radiotube:after {
        position: relative;
        left: -5px;
        content: 'Tube';
        font-size: 30px;
        color: black;
        text-decoration:underline
    }
}

#radiotube:before {
    position: relative;
    left: -5px;
    content: 'Radio';
    color: red;
    text-decoration:underline;
}
#radiotube:after {
    position: relative;
    left: -5px;
    content: 'Tube';
    color: black;
    text-decoration:underline
}


.zanrMasterDetail {
    margin: 5px !important;
}

.gumbiZanrov {
    border:5px solid reds;
    box-shadow: 0 4px 2px -2px gray;
    font-size: 18px !important;
    /*text-shadow: 1px 1px #000000;*/
}

.playlist-video-entry {
    margin: 5px 0px 5px 0px;
    border:5px solid reds;
    box-shadow: 0 4px 2px -2px gray;
    font-size: 18px !important;
    /*text-shadow: 1px 1px #000000;*/
}

.profile-form-group {
    margin: 20px 0px 0px 0px;
    border:5px solid reds;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#profilePicNav {
    height: 40px;
    width: 40px;
    margin: 10px;
}

#profileNameNav {
    margin:5px;
    font-style: italic;
    font-size: 16px;
    color: grey;
    
}

#detail {
    text-align:center;
    margin: 5px;
    margin-left:5%;
    margin-right:5%;
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: rgba(255,229,204,0.4);
}
#detail:hover {
    border-color: black;
    background-color: #E0E0E0;
}

.center{
    text-align: center
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.station-playlist-entry {
    margin: 5px 0px 5px 0px;
    border:5px solid reds;
    box-shadow: 0 4px 2px -2px gray;
    
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;          
}

.station-playlist {
     margin: 20px 0px 10px 0px;
}

@media only screen and (max-width: 480px) {
   #playlist-name, .data-stationName {
      font-size: 30px;
  } 
}

@media only screen and (max-width: 320px) {
  #playlist-name, .data-stationName {
      font-size: 20px;
  }
  #playlistButtonToolbar-add {
      width: 100px;
  }
  #playlistButtonToolbar-rename {
      width: 100px;
  }
  #playlistButtonToolbar-golive {
      width: 100px;
  }
}

.playlistButtonToolbar, .removeVideoButton {
     float: right;
}

#layout-navbar {
    position: sticky;
    top: 0px;
    z-index: 10;
}
 
#layout-main-container {
    z-index: 1;
}

#detailrow {
    width: 100%;
    background-color: red;
}

.site-logo {
    width: 30px;
    height: 30px;
    margin: 10px -5px 0px -5px;
}

.profil {
    margin : 10px;
}

#searchbutton {
    float: right;
}

#search_par{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	border-radius: 3px 0px 0px 3px;
	width: 80%;
}
#buttonsearch{
    background: white !important; 
    border-left:0;
    border-bottom-style: solid;
    border-width: thin;
    box-shadow:0 0 0; 
	border-color:#ccc;
	border-radius: 0px 3px 3px 0px;
}

#addon{
    background: white !important;
}
#glyph-s {
    font-size: 178%;
   
}
.vrsta {
    float: left;
}

#detail-s {
    text-align:center;
    margin: 5px;
    margin-left:5%;
    margin-right:5%;
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 2px -2px gray;
    background-color: white;
}