    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Warning </h5>
      </div>
      <div class="modal-body">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
          <div class="form-group">
            <p> For these changes to apply, you need to re-log. </p>
          </div>
         </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.modalWindow.close()"> Log me out! </button>  
      </div>
    </div>