<div class="container">
    <div class="row main">
        <div class="panel-title text-center">
            <h1 class="title" id="radiotube"></h1>
        </div>
        <div class="main-login main-center">
            <form ng-submit="vm.sendData()" class="form-horizontal" method='post' autocomplete="off">
                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='name'>
                        Full Name
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users-fa" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.fullName" id="name" class="form-control" type='text' name='name'  placeholder='Enter your Name'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='username'>
                        Username
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                        </span>
                        <input ng-model="vm.signupData.userName" id="userName" class="form-control" type='text' name='username' placeholder='Enter your Username'/>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='password'>
                        Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.password" id="password" class="form-control" type='password' name='password' placeholder='Enter your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="cols-sm-2 control-label" for='confirm'>
                        Confirm Password
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden='true'></i>
                            </span>
                            <input ng-model="vm.signupData.confirm" id="confirm" class="form-control" type='password' name='confirm' placeholder='Confirm your Password'/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-button" type='submit' id="signup-submit">
                        Sign Up
                    </button>
                </div>
                <div class="login-register">
                    <a href="/">
                        Sign In
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
    
